<div class="row">
	<div class="span10">
		<% @users.each do |user| %>
			<p>
				<strong><%= user.name %></strong> <small><%= user.email %></small>
				<%= link_to 'Ver perfil', user, class: 'btn btn-primary btn-mini' %>
			</p>
		<% end %>
	</div>
</div>